@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  background-color: rgb(140, 196, 97);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.scoreDiv {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
}

.scoreDiv h3 {
  text-transform: uppercase;
}

.title {
  flex: 1;
}

.individualScore {
  /* flex: 1; */
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.individualScore > div {
  /* flex: 1; */
  width: 5rem;
  height: 5rem;
  background-color: white;
  /* margin-left: 10px; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.individualScore > div > p {
  background-color: transparent;
  color: black;
  font-size: 0.75rem;
  text-align: center;
  padding-top: 0.5rem;
}

.individualScore > div > h3 {
  background-color: transparent;
  color: black;
  font-size: 2rem;
  text-align: center;
}

/* ================================ */

#choiceDiv {
  position: relative;
}

#triangle {
  margin: auto;
  /* background-color: white; */
  /* width: 5rem;
  height: 5rem; */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14rem 10rem 0 10rem; /* Adjust size of the triangle by changing border-width values */
  border-color: #000 transparent transparent transparent;
}
