* {
  margin: 0;
  padding: 0;
  background-color: rgb(59, 70, 100);
  color: white;
  box-sizing: border-box;
}

#app {
  margin-top: 2rem;
}


#app>div:first-child{
  font-size: 3rem;
  padding: 0.5rem;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}



#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
}

#grid-container > div {
  display: grid;
  background-color: white;
  color: black;
  border-radius: 5px;
  height: 3rem;
  font-weight: bolder;
  font-size: x-large;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#grid-container > #del,
#grid-container > #reset {
  background-color: rgb(59, 70, 100);
  color: white;
}

#reset {
  grid-column-start: 1;
  grid-column-end: 3;
}

#equal {
  grid-column-start: 3;
  grid-column-end: 5;
}


#grid-container > div:active{
  transition: 0.2s;
  transform:scale(0.8);
}

#grid-container > div:hover{
  background-color: whitesmoke;
}